@model BrokenAuthenticationSample.ViewModels.ForgotPasswordViewModel

<form asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
</form>
