@model VerifyMfaViewModel
<form asp-action="VerifyMfaCode">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Code"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Verify</button>
</form>
